{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RECIPE RECOMMENDATION SYSTEM</title>
    <link rel="stylesheet" href="{% static 'style-login.css' %}">
</head>
<body>
    <div class="wrapper">
        <form action="{% url 'login' %}" method="POST" id="login-form">
            {% csrf_token %}

            {% if messages %}

                {% for message in messages%}

                <script>
                    alert("{{message}}");
                </script>
                {% endfor %}

            {% endif %}
            <div class="field">
                <p>New user? <span onclick="document.querySelector('#register-form').style.display = '';document.querySelector('#login-form').style.display = 'none'">Register</span></p>
            </div>
            <div class="field">
                <h3>Recipe Recommendation Based on Ingredients</h3>
            </div>
            <div class="field">
                <input type="text" name="username" placeholder="Username" required>
            </div>
            <div class="field">
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <div class="field">
                <button type="submit">Login</button>
            </div>
        
        </form>




        <form action="{% url 'register' %}" method="POST" id="register-form">
            {% csrf_token %}

            {% if messages %}

                {% for message in messages%}

                <script>
                    alert("{{message}}");
                </script>
                {% endfor %}

            {% endif %}
            <div class="field">
                <p>Have an account? <span onclick="document.querySelector('#register-form').style.display = 'none';document.querySelector('#login-form').style.display = ''">Login</span></p>
            </div>
            <div class="field">
                <h3>Recipe Recommendation Based on Ingredients</h3>
            </div>
            <div class="field">
                <input type="text" name="username" placeholder="Choose username" required>
            </div>
            <div class="field">
                <input type="email" name="email" placeholder="email Address" required>
            </div>
            <div class="field">
                <input type="text" name="fullname" placeholder="Fullname" required>
            </div>
            <div class="field">
                <input type="number" name="weight" placeholder="Weight in KGs" min="1" max="200" required>
            </div>
            <div class="field">
                <select name="diabetes_type" required>
                    <option value="" selected disabled>Select Type</option>
                    <option value="0">Non-Diabetic</option>
                    <option value="1">Type 1 Diabetic</option>
                    <option value="2">Type 2 Diabetic</option>
                </select>
            </div>
            <div class="field">
                <input type="password" name="password" placeholder="Password" id="pass1" required>
            </div>
            <div class="field">
                <input type="password" name="password2" placeholder="Confirm Password"  id="pass2" required>
            </div>
            <div class="field">
                <button type="button" onclick="checkform()">Register</button>
            </div>
            

        </form>
    </div>
    <script>

        {% if reg %}
            document.querySelector('#register-form').style.display = 'none';
            document.querySelector('#login-form').style.display = '';
        {% endif %}


        var registerForm = document.querySelector('#register-form');
        registerForm.style.display = 'none';

        const checkform = () => {
            if(!registerForm.checkValidity()){
                registerForm.reportValidity()
            } else {
                if(document.getElementById('pass1').value !== document.getElementById('pass2').value ){
                    document.getElementById('pass2').setCustomValidity("Passwords dont Match!")
                    document.getElementById('pass2').reportValidity()
                } else {
                    document.getElementById('pass2').setCustomValidity("")
                    //document.getElementById('pass2').reportValidity()
                    registerForm.submit()
                }
            }
        }

    </script>
</body>
</html>